.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 2px solid black;
  background-color: lightgray;
  height: 5vh;
}

.header a{
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  cursor: pointer;
}

.header a:hover{
  color: blue;
} 
